<h1>Invite Caretaker</h1>
<h3>Send a friend an email to watch over your plants while you're away</h3>
<%= form_tag :invite, method: :post do %>
<%= text_field_tag :email, "Email" %>
<%= submit_tag "Add Caretaker" %>
<% end %>
