<h1>Invite Caretaker</h1>
<h3>Send a friend an email to watch over your plants while you're away</h3>
<%= form_tag :invite, method: :post do %>
<%= text_field_tag :email, "Email" %>
<%= text_field_tag :garden_id, hidden: true, value: @garden.id %>
<%= submit_tag "Send Email Invitation" %>
<% end %>
