---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=96814&key=<geocoding>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "96814",
                       "short_name" : "96814",
                       "types" : [ "postal_code" ]
                    },
                    {
                       "long_name" : "Honolulu",
                       "short_name" : "Honolulu",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Honolulu County",
                       "short_name" : "Honolulu County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Hawaii",
                       "short_name" : "HI",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Honolulu, HI 96814, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 21.3057601,
                          "lng" : -157.834675
                       },
                       "southwest" : {
                          "lat" : 21.2836,
                          "lng" : -157.859949
                       }
                    },
                    "location" : {
                       "lat" : 21.2966976,
                       "lng" : -157.8480364
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 21.3057601,
                          "lng" : -157.834675
                       },
                       "southwest" : {
                          "lat" : 21.2836,
                          "lng" : -157.859949
                       }
                    }
                 },
                 "place_id" : "ChIJLwTuOuRtAHwR7UZf8WRQZb0",
                 "types" : [ "postal_code" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Fri, 15 Feb 2019 19:43:13 GMT
[...]
