<div class="phone">
  <h5>Watering Schedule - Text Updates</h5>
  <div class="phone-form">
    <%= form_for user do |f| %>
      <%= f.text_field :telephone, placeholder: "Phone Number", class: "phone-number-field" %>
      <%= f.submit "Submit" %>
    <% end %>
  </div>
</div>
