<h1>Welcome, <%= @user.first_name %>!</h1>
<h2>Garden Dashboard</h2>
<% if @gardens.count > 0 %>
  <%= button_to 'Create New Garden', new_garden_path %>
<% else %>
  No Gardens Created Yet!
  <%= button_to 'Create New Garden', new_garden_path %>
<% end %>
