<div class="droppable flex-wrap">
  <% day.gardens.owned.each do |garden| %>
    <%= render partial: "garden", locals: {day: day, garden: garden, type: "owned"} %>
  <% end %>
  <% if day.gardens.caretaking.any? %>
    <div class = "garden-container caretaking">
      <h6 class = "garden-day-header" > Gardens you are caretaking: </h6>
      <% day.gardens.caretaking.each do |garden| %>
        <%= render partial: "garden", locals: {day: day, garden: garden, type: "caretaking"} %>
      <% end %>
    </div>
  <% end %>
  <p <%= day.waterings? ? "hidden=true" : "" %> class="no-waterings">No waterings scheduled today.</p>
</div>
