<div class="droppable">
  <% day.gardens.each do |garden| %>
    <div id="garden-<%= garden.id %>-<%= day.css_name %>">
      <%= render partial: "checkboxes", locals: {plants: garden.plants} %>
    </div>
  <% end %>
  <p <%= day.waterings? ? "hidden=true" : "" %> class="no-waterings">No waterings scheduled today.</p>
</div>
