---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/<twilio>/Messages.json
    body:
      encoding: UTF-8
      string: Body=Thirsty+Plants+has+scheduled+RainyDayTexterJob+for+2019-02-20+05%3A00%3A00+-0700&From=%2B12028834286&To=%2B17202352143
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUNiMjRkNjNiZWExYWVlNzExMTQ3NmE1N2JiM2M1NjRlMzpkYjE1ZjNhN2QzOGE1MTRjMTRkOTJkNDc0ZmI2MTIzYw==
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Concurrent-Requests:
      - '1'
      Twilio-Request-Duration:
      - '0.125'
      Twilio-Request-Id:
      - RQ4873d7dfbb814b02bb986dd1e128bb4a
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"sid": "SM863003c3bbcb4b688835db4ceb59c001", "date_created": "Tue,
        19 Feb 2019 22:17:16 +0000", "date_updated": "Tue, 19 Feb 2019 22:17:16 +0000",
        "date_sent": null, "account_sid": "<twilio>", "to": "+17202352143", "from":
        "+12028834286", "messaging_service_sid": null, "body": "Sent from your Twilio
        trial account - Thirsty Plants has scheduled RainyDayTexterJob for 2019-02-20
        05:00:00 -0700", "status": "queued", "num_segments": "1", "num_media": "0",
        "direction": "outbound-api", "api_version": "2010-04-01", "price": null, "price_unit":
        "USD", "error_code": null, "error_message": null, "uri": "/2010-04-01/Accounts/<twilio>/Messages/SM863003c3bbcb4b688835db4ceb59c001.json",
        "subresource_uris": {"media": "/2010-04-01/Accounts/<twilio>/Messages/SM863003c3bbcb4b688835db4ceb59c001/Media.json"}}'
  recorded_at: Tue, 19 Feb 2019 22:17:16 GMT
recorded_with: VCR 4.0.0
