---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=80203&key=<geocoding>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "80203",
                       "short_name" : "80203",
                       "types" : [ "postal_code" ]
                    },
                    {
                       "long_name" : "Central",
                       "short_name" : "Central",
                       "types" : [ "neighborhood", "political" ]
                    },
                    {
                       "long_name" : "Denver",
                       "short_name" : "Denver",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Denver County",
                       "short_name" : "Denver County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Colorado",
                       "short_name" : "CO",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Denver, CO 80203, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 39.747596,
                          "lng" : -104.9775301
                       },
                       "southwest" : {
                          "lat" : 39.716515,
                          "lng" : -104.9891779
                       }
                    },
                    "location" : {
                       "lat" : 39.7312095,
                       "lng" : -104.9826965
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.747596,
                          "lng" : -104.9775301
                       },
                       "southwest" : {
                          "lat" : 39.716515,
                          "lng" : -104.9891779
                       }
                    }
                 },
                 "place_id" : "ChIJ7_b5Q9Z-bIcR2-iWo39lHWI",
                 "types" : [ "postal_code" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Sun, 17 Feb 2019 20:47:15 GMT
[...]
