---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/<twillioid>/Messages.json
    body:
      encoding: UTF-8
      string: Body=Thirsty+Plants+has+scheduled+RainyDayJob+for+2019-02-21+05%3A00%3A00+-0700&From=%2B12028834286&To=%2B17202352143
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUNiMjRkNjNiZWExYWVlNzExMTQ3NmE1N2JiM2M1NjRlMzpkYjE1ZjNhN2QzOGE1MTRjMTRkOTJkNDc0ZmI2MTIzYw==
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Concurrent-Requests:
      - '1'
      Twilio-Request-Duration:
      - '0.075'
      Twilio-Request-Id:
      - RQ5074811255aa458e968867c48c353b6c
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"sid": "SM88169dd2fcac443089f5eff4c9346790", "date_created": "Wed,
        20 Feb 2019 00:14:58 +0000", "date_updated": "Wed, 20 Feb 2019 00:14:58 +0000",
        "date_sent": null, "account_sid": "<twillioid>", "to": "+17202352143", "from":
        "+12028834286", "messaging_service_sid": null, "body": "Sent from your Twilio
        trial account - Thirsty Plants has scheduled RainyDayJob for 2019-02-20 05:00:00
        -0700", "status": "queued", "num_segments": "1", "num_media": "0", "direction":
        "outbound-api", "api_version": "2010-04-01", "price": null, "price_unit":
        "USD", "error_code": null, "error_message": null, "uri": "/2010-04-01/Accounts/<twillioid>/Messages/SM88169dd2fcac443089f5eff4c9346790.json",
        "subresource_uris": {"media": "/2010-04-01/Accounts/<twillioid>/Messages/SM88169dd2fcac443089f5eff4c9346790/Media.json"}}'
  recorded_at: Wed, 20 Feb 2019 00:14:58 GMT
recorded_with: VCR 4.0.0
