@import "bootstrap";
@import "root";
@import "schedule";
@import "dashboard";
@import "plants";
@import "gardens";

body {
  background: url('https://images.unsplash.com/photo-1495192432427-e9010da2fbc7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1100&q=60') no-repeat center center fixed;
  background-size: cover;
  opacity: 0.9;
}

.form_container {
  width: 50%;
  margin: 0 auto;
}

.form-group {
  color: white;
}

h1 {
  color: white;
  font-size: 6rem;
  text-align: center;
}
