.phone {
  display: block;
  color: white;
  text-align: center;
}

h2 {
  color: white;
  font-size: 3rem;
  text-align: center;
}

.gardens-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.today-card {
  display: flex;
  justify-content: center;
  float: none;
  margin: 0 auto;
  margin-bottom: 1rem;
  padding: 20px;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  max-width: 50rem;
  h4 {
    color: black;
  }
}

.todays-gardens-container {
  display: flex;
  flex-direction: column;
  max-width: 50rem;
  align-self: center;
}

.today-garden-container {
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(240, 154, 60, 0.6);
  margin: 10px;
  min-width: 250px;
  border-radius: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 10px;
  text-align: left;
  h6 {
    padding-left: 0;
    padding-right: 0.8rem;
  }
}

.watering {
  padding: 10px;
  padding-top: 0;
}
.card {
  display: flex;
  justify-content: center;
  float: none;
  margin: 1rem;
  padding: 25px;
  text-align: center;
}

.fa-cloud-rain {
  color: #333333;
  font-size: 50px;
}

.fa-snowflake {
  color: #333333;
  font-size: 50px;
}

.fa-cloud-showers-heavy {
  color: #333333;
  font-size: 50px;
}

.btn-toolbar{
  display: flex;
  justify-content: center;
}

.btn {
  color: white;
  font-size: 1rem;
  margin: 5px;
}

.plant-img {
  width: 250px;
  height: 250px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.phone-number-field {
  color: darkgreen;
  margin: 5px;
}
