.phone {
  display: block;
  color: white;
  text-align: center;
}

h2 {
  color: white;
  font-size: 3rem;
  text-align: center;
}
.gardens-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  display: flex;
  justify-content: center;
  float: none;
  margin: 60px;
  padding: 25px;
  text-align: center;
}

.btn-toolbar{
  display: flex;
  justify-content: center;
}

.btn {
  color: white;
  font-size: 1rem;
}

.plant-img {
  width: 250px;
  height: 250px;
  margin-bottom: 20px;
  margin-top: 10px;
}
