.garden-zip {
  color: white;
  font-size: 1.5rem;
  text-align: center;
}

.plants-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.garden-name {
  color: green;
  font-size: 3rem;
}

.index-plant-list {
  text-decoration: none;
  font-size: 2rem;
}
.darksky-container {
  display: flex;
  justify-content: center;
}
.darksky-img {
  width: 200px;
  height: 50px;
}
