.garden-zip {
  color: white;
  font-size: 1.5rem;
  text-align: center;
}

.plants-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.garden-name {
  color: green;
  font-size: 3rem;
}

.index-plant-list {
  text-decoration: none;
  font-size: 2rem;
}
.word-icon-container {
  // border: 2px solid green;
  display: flex;
  justify-content: flex-end;
  padding: 8px;
}

.word-wrapper {
  flex-direction: column;
  margin-right: 10px;
  display: flex-start;
  align-self: flex-start;
}
.word-wrapper-index {
  flex-direction: column;
  display: flex-start;
  align-self: flex-start;
  padding-left: 0px;
}

.icon-wrapper {
  display: flex;
  text-align: right;
  flex-direction: column;
  padding-left: 15px;
  padding-bottom: 3px;
}

.weather_day {
  text-align: justify;
  margin-left: 10px;
}

.fa-cloud-rain, .fa-snowflake, .fa-cloud-showers-heavy, .fa-cloud-sun {
  margin: 0 auto;
  font-size: 2.5em;
}
