.garden-zip {
  color: white;
  font-size: 1.5rem;
  text-align: center;
}

.plants-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.garden-name {
  color: green;
  font-size: 3rem;
}

.fa-cloud-rain .fa-snowflake .fa-cloud-showers-heavy {
  color: red;
  font-size: 500px;
}

.index-plant-list {
  text-decoration: none;
  font-size: 2rem;
}
