<h1>Admin Dashboard</h1>
<div class="vw-80 mt-5">
  <table class="table table-bordered table-striped table-dark">
    <thead>
      <th scope="col">Name</th>
      <th scope="col">Date Registered</th>
    </thead>
    <% @default_users.each do |user| %>
      <tbody id="user-<%=user.id%>">
        <td><%= user.first_name %></td>
        <td><%= user.created_at.to_date%></td>
      </tbody>
    <% end %>
  </table>
</div>
