---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=80218&key=<geocoding>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "80218",
                       "short_name" : "80218",
                       "types" : [ "postal_code" ]
                    },
                    {
                       "long_name" : "Denver",
                       "short_name" : "Denver",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Denver County",
                       "short_name" : "Denver County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Colorado",
                       "short_name" : "CO",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Denver, CO 80218, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 39.74821,
                          "lng" : -104.963466
                       },
                       "southwest" : {
                          "lat" : 39.716515,
                          "lng" : -104.9791489
                       }
                    },
                    "location" : {
                       "lat" : 39.73274600000001,
                       "lng" : -104.9710123
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.74821,
                          "lng" : -104.963466
                       },
                       "southwest" : {
                          "lat" : 39.716515,
                          "lng" : -104.9791489
                       }
                    }
                 },
                 "place_id" : "ChIJDcOWXM9-bIcRlqC5SIg3DYo",
                 "types" : [ "postal_code" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Wed, 20 Feb 2019 19:38:15 GMT
recorded_with: VCR 4.0.0
