<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      <%= stylesheet_link_tag    'application', media: 'all' %>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <%= image_tag( image_url("thumb/default.png")) %>
    <h1>Greetings From Thirsty Plants!</h1>
    <%= yield %>
  </body>
</html>
